<h1>Lista de productos</h1>

<ul>
  {{#each products}}
    <li>Item: {{this.title}} --- Precio: {{this.price}} --- Stock: {{this.stock}} </li>
  {{/each}}
</ul>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>